@font-face {
  font-family: "NeueHaasGroteskText Pro";
  src: url("../fonts/NHaasGroteskTXPro-55Rg.67dc930.woff2");
}

@font-face {
  font-family: "Ivar Text";
  src: url("../fonts/IvarText-Italic.79673f6.woff2");
}

@font-face {
  font-family: "PolySans Slim";
  src: url("../fonts/PolySans-Slim.e24c915.woff2");
}
